# Node.js & React
node_modules/
build/
dist/
.env

# Python
__pycache__/
*.pyc
*.pyo
venv/
env/
.venv/

# Thư mục dữ liệu Photobooth (Không đưa ảnh của khách lên mạng)
backend/photobooth_data/
backend/photobooth_prints_all/

# Hệ điều hành
.DS_Store
Thumbs.db